<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактировать задачу</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="modal-content">
        <h2>Редактировать задачу</h2>
        <form class="form-grid" action="{{ url_for('edit_task', task_id=task.id) }}" method="POST">
            <input type="text" name="title" value="{{ task.title }}" placeholder="Название задачи" required>
            <input type="text" name="description" value="{{ task.description }}" placeholder="Описание задачи">
            <input type="date" name="date" value="{{ task.date.strftime('%Y-%m-%d') }}" placeholder="Дата задачи">
            <input type="text" name="responsible" value="{{ task.responsible }}" placeholder="Ответственный за задачу">
            <input type="text" name="region" value="{{ task.region }}" placeholder="Регион задачи">
            
            <!-- Выбор приоритета -->
            <select name="priority" required>
                <option value="Срочный" {% if task.priority == 'Срочный' %}selected{% endif %}>Срочный</option>
                <option value="Высокий" {% if task.priority == 'Высокий' %}selected{% endif %}>Высокий</option>
                <option value="Средний" {% if task.priority == 'Средний' %}selected{% endif %}>Средний</option>
                <option value="Низкий" {% if task.priority == 'Низкий' %}selected{% endif %}>Низкий</option>
            </select>
            
            <button type="submit">Сохранить изменения</button>
        </form>
        <a href="{{ url_for('index') }}">Назад к списку задач</a>
    </div>
</body>
</html>